*{
	margin:0px;
	padding: 0px
}

body{
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #f2f2f2;
}

.navi{
	width: 100%;
	float:right;
	background-color: #f2f2f2;
	height: 80px;
	margin-left: 0px;
	padding-left: 0px;

	
}

.logo{
margin:0px;
	padding-left:0px;
}

nav{
	float: right;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	margin-left: 20px;
	padding-right: 48px;
	padding-top: 30px;
transition: 0.8s all;
}

nav ul li:hover{
	background-color:#f39d1a;
}

nav ul li a{
	text-decoration: none;
	color: black;
	padding: 50px;
	font-family: georgia;
	font-size: 18px;
}


.hello{
	width: 100%;

}


	.hello img{
		background-image: url(okay1.jpg)no-repeat;
	background-size: 100% 800px;
	
	background-color: white;

	
}

	